---
title: 白嫖Gemini Pro 12 个月！教你过大部分Sheerid简单难度认证
icon: gemini-ai
date: 2025-12-04 16:51:54
author: AI悦创
isOriginal: true
sticky: false
star: false
article: true
timeline: true
image: false
navbar: true
sidebarIcon: true
comment: true

backToTop: true
toc: true
---

::: center 

### [Sheerid 通用教程] [google ai one +] 教你过大部分Sheerid简单难度认证

:::

你好，我是悦创。

本教程适用于大部分 Sheerid 简单难度认证。

## 1. 注册教育邮箱📮

如果要方便，或者轻松。可以找我购买教育邮箱，添加微信：Jiabcdefh。

### Step 1：访问 PennState

访问链接：[https://accounts.psu.edu](https://accounts.psu.edu)，并点击创建 `CREATE MY ACCOUNT`。

![](https://blog.images.bornforthis.cn/docs-images/sha256/04/04e91741ce66443ed57497f07beee834c523390b0a6be3018ea7598b64e1bf49.png)

### Step 2：开始创建

#### 1. 勾选接受，并点击下一步：Next：

![](https://blog.images.bornforthis.cn/docs-images/sha256/79/798b08e36b92d9798e3dfca67477235dbf0d312b98f66dc8242206069ff29808.png)

#### 2. 填写个人信息

随便填写信息，除了邮箱正确之外其余可以随便乱填，然后一分钟你就拿到一个专门用于过 sheerid 的 `@psu.edu` 账号（无邮箱）

![](https://blog.images.bornforthis.cn/docs-images/sha256/a3/a36a5e61acca0a119dbcf27fb16e35abe9f43d7a0280bcd74589d411f5a110f1.png)

#### 3. 填写个人信息「2」

Personal Information - Part 2

![](https://blog.images.bornforthis.cn/docs-images/sha256/60/60fa4a7282bc4817a45c3d9073bc1187ed153c47d62c8fff0c2a8be8a63185ab.png)

#### 4. Contact Details

![](https://blog.images.bornforthis.cn/docs-images/sha256/55/554c2e8b966bd3220e00ffece6151eedce4042c08be8f7a026cbd30ec5f92bc4.png)

#### 5. 有可能会出现地址问题，可以随意：

![](https://blog.images.bornforthis.cn/docs-images/sha256/e2/e2d81f8f9d65d945db5398f614b629644eeff579691da01883919833cdeae163.png)

#### 6. 点击 Next

![](https://blog.images.bornforthis.cn/docs-images/sha256/75/75e9bceffe9264b66596fe3af537f0810c577e3d94e61ca9dcd2f0a995142283.png)

#### 7. Verifying It's You

会给你的邮箱发送验证码，自己查收填写：

![](https://blog.images.bornforthis.cn/docs-images/sha256/20/20a8b17b4a266463de274b3499cea46e81d96bdd0720309c1036d159fdf540d9.png)

#### 8. Policy Agreement

勾选，并点击下一步即可：

![](https://blog.images.bornforthis.cn/docs-images/sha256/1b/1bf71187adf4418bd35876252b8eaf4393a97b979da8926b9bedf70667891e60.png)

#### 9. 设置密码，完成！

![](https://blog.images.bornforthis.cn/docs-images/sha256/d8/d8b7c77eb1baa4415e27cd631a148e895b7c8a32ea70920c0cce2ca5e880069a.png)

#### 10. 当你看见如下界面，表明注册成功！

![](https://blog.images.bornforthis.cn/docs-images/sha256/e0/e0521a3c045fc8fad0debe0b7c3db7c6a560a14463e46c649bec1367a0b446ff.png)

## 2. 领取谷歌教育优惠

Sheerid 认证：以Google为例。

### 2.1 访问 Google 学生优惠网站

链接：[https://gemini.google/students/](https://gemini.google/students/)

访问链接后，点击 Get offer：

![](https://blog.images.bornforthis.cn/docs-images/sha256/54/54ef295beee6ef400c922fba449fe85290ab12246b3166dc8638e32a7bdd7acc.png)

### 2.2 填写信息

按下面截图来填即可，最后的邮箱按照前面注册得到的邮箱来使用即可！

> 在 20+ 个 PSU 校区中随机选取一个即可，搜索出来一页都是 PSU，意味着你申请一个 PSU 可以用 20 多次。

**提示**：名字生日随便乱填，邮箱填你刚才拿到的 `@psu.edu` 账号，然后继续完成 `SSO流程`：

![](https://blog.images.bornforthis.cn/docs-images/sha256/89/89733a26397c5e1881fc67a4f54a552ac2884f399ab96055b858f2140d825dc0.png)





### 2.3 完成 SSO 流程

![](https://blog.images.bornforthis.cn/docs-images/sha256/df/dfcd058f76c4ea40728a323a6edc002a5c02b92c411c82fc8edd8368e28df7bb.png)

![](https://blog.images.bornforthis.cn/docs-images/sha256/27/27f9642868f4d3b1bfd163bc1d0cf11075c866d6ccef81579a45c330af45f31c.png)

 ![](https://blog.images.bornforthis.cn/docs-images/sha256/ea/eaa3329ee92d0ce1c87d1ba22d7c3b60748311e6ced4ac0c580c356b568cb8ac.png)



### 2.4 验证成功！

![](https://blog.images.bornforthis.cn/docs-images/sha256/36/36824bf3b6dfe83178ca61d51ad1cb72d5765b868d9ee827fd9634720c70f1f1.png)

## 3. 绑定支付方式，自己用自己的国内 Visa 卡就可以











::: details 公众号：AI悦创【二维码】

![](https://blog.images.bornforthis.cn/docs-images/sha256/77/77f67d48a67ec6a44a4ef1f01ffc85830eb3c121b1ece45dc5ada06e20e2f52b.jpg)

:::

::: info AI悦创·编程一对一

AI悦创·推出辅导班啦，包括「Python 语言辅导班、C++ 辅导班、java 辅导班、算法/数据结构辅导班、少儿编程、pygame 游戏开发、Web、Linux」，招收学员面向国内外，国外占 80%。全部都是一对一教学：一对一辅导 + 一对一答疑 + 布置作业 + 项目实践等。当然，还有线下线上摄影课程、Photoshop、Premiere 一对一教学、QQ、微信在线，随时响应！微信：Jiabcdefh

C++ 信息奥赛题解，长期更新！长期招收一对一中小学信息奥赛集训，莆田、厦门地区有机会线下上门，其他地区线上。微信：Jiabcdefh

方法一：[QQ](http://wpa.qq.com/msgrd?v=3&uin=1432803776&site=qq&menu=yes)

方法二：微信：Jiabcdefh

:::

![](https://blog.images.bornforthis.cn/docs-images/sha256/30/3087c629da73428daa0ee050f5b31709c30f650686164b54c724b892a422c585.jpg)

::: details .

- Name：Bornforthis Bornforthis
- User ID：bbb5969
- Penn State ID：981305446
- `bbb5969@psu.edu`

:::