.item-container {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.item {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  padding: .5rem 0;
  width: 150px;
  height: 50px;
}

input {
  margin: .5rem 0;
  width: 250px;
  height: 2rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  padding: 0 .5rem;
}

input:hover {
  background-color: #ccc;
  border: 1px solid #999;
}

input:active {
  background-color: #999;
  border: 1px solid #666;
}
