- loading_img = theme.preloader.avatar ? theme.preloader.avatar : theme.avatar.img
#loading-box(onclick='document.getElementById("loading-box").classList.add("loaded")')
  .loading-bg
    img.loading-img(alt="加载头像" class='nolazyload' src=url_for(loading_img))
    .loading-image-dot
script.
  const preloader = {
    endLoading: () => {
      document.getElementById('loading-box').classList.add("loaded");
    },
    initLoading: () => {
      document.getElementById('loading-box').classList.remove("loaded")
    }
  }
  window.addEventListener('load',()=> { preloader.endLoading() })
  setTimeout(function(){preloader.endLoading();},10000)

  if (!{theme.pjax && theme.pjax.enable}) {
    document.addEventListener('pjax:send', () => { preloader.initLoading() })
    document.addEventListener('pjax:complete', () => { preloader.endLoading() })
  }
//- #loading-box(onclick='document.getElementById("loading-box").classList.add("loaded")')
//-   .loading-bg
//-     .left-panel
//-       .couplet-container
//-         .couplet-decor.top
//-         .couplet 三阳启泰人间喜
//-         .couplet-decor.bottom
//-     .center-panel
//-       .horizontal-scroll
//-         .couplet-decor.left
//-         .couplet 鹏程万里
//-         .couplet-decor.right
//-     .right-panel
//-       .couplet-container
//-         .couplet-decor.top
//-         .couplet 五福临门大地春
//-         .couplet-decor.bottom

//-   //- 添加灯笼到开屏加载页面
//-   .deng-box1
//-     .deng
//-       .xian
//-       .deng-a
//-         .deng-b
//-           .deng-t 春
//-       .shui.shui-a
//-         .shui-c
//-         .shui-b
//-   .deng-box2
//-     .deng
//-       .xian
//-       .deng-a
//-         .deng-b
//-           .deng-t 节
//-       .shui.shui-a
//-         .shui-c
//-         .shui-b
//-   .deng-box3
//-     .deng
//-       .xian
//-       .deng-a
//-         .deng-b
//-           .deng-t 乐
//-       .shui.shui-a
//-         .shui-c
//-         .shui-b
//-   .deng-box4
//-     .deng
//-       .xian
//-       .deng-a
//-         .deng-b
//-           .deng-t 快
//-       .shui.shui-a
//-         .shui-c
//-         .shui-b

//- script.
//-   const preloader = {
//-     endLoading: () => {
//-       document.getElementById('loading-box').classList.add("loaded");
//-     },
//-     initLoading: () => {
//-       document.getElementById('loading-box').classList.remove("loaded")
//-     }
//-   }
//-   window.addEventListener('load',()=> { preloader.endLoading() })
//-   setTimeout(function(){preloader.endLoading();},10000)
