@media screen and (min-width: 700px)
  [data-type="todolist"] 
    #todolist-left,
    #todolist-right 
      width 100%
      padding 0  

[data-type="todolist"] 
	#web_bg 
		background var(--anzhiyu-background)
	#page 
		border 0
		-webkit-box-shadow none !important
		box-shadow none !important
		padding 0 !important
		background 0 0 !important
		.page-title 
			display none
      
[data-type="todolist"] 
  #todolist-box 
    margin 0 10px
  #todolist-main 
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content center
    margin 16px 0 10px
    li 
      list-style none
      font-size 17px
    ul 
      margin 0
      padding 0
  #todolist-left 
    width 50%
    padding 0 8px 0 0
  #todolist-right 
    width 50%
    padding 0 0 0 8px
  li 
    &.todolist-li 
      border-bottom var(--todo-border)
      font-weight normal
      margin-left -10px
      i 
        margin-left 10px
    &.todolist-li-done 
      border-bottom var(--todo-border)
      font-weight normal
      text-decoration line-through
  h3 
    &.todolist-title 
      margin 0!important
      border-bottom var(--todo-border)
  .todolist-li 
    span 
      margin-left 5px
  .todolist-li-done 
    span 
      margin-left 5px
  .todolist-item 
    position relative
    background #fae4df
    border-radius 12px
    padding 10px 1rem 1.2rem
    border 2px dashed #f7a796
    margin-bottom 1rem

[data-theme=dark] 
  [data-type="todolist"] 
    .todolist-item 
      background #242424
      border 2px dashed #51908b

