label {
  display: block;
  margin: 1rem 0;
  text-align: left;
}

input {
  display: block;
  width: 18rem;
  height: 2rem;
  margin: 1rem 0;
  color: #000;
}

/*Chrome、Safari等关闭数字输入框的上下箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*FireFox关闭数字输入框上下箭头*/
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  width: 100px;
  padding: 0.5em 1em;
  text-align: center;
  font-size: 1em;
  background-color: #ff9;
  border: 1px solid #cc6;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: #993;
  border: 1px solid #aa4;
}

button:active {
  color: #fff;
  background-color: #660;
  border: 1px solid #882;
}
